/* Cabeçalho*/
#cabecalho{
	position: absolute;
	max-height:120px;
	width: 80%;
	background-color: red;

}



.navbar{
	max-width:100%;		
	/*float: center;	*/
}

.buscar{
	max-width:100px;
	max-height:50px;


}


#logo{
	width: 200px;
	max-width:200px;
	max-height:120px;

}
#logo_img{	
	width: 195px;
	/* height: 197px;*/
	height: 118px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-top: 1px;
	padding-left: 1px;
}

}
#image-login{
	max-width:90px;
	max-height:100px;
}

#menu_principal{
	display: block;
	padding-right: 5px;
	position: relative;
	margin-left: 0px;
	right: 0px;

}

#botao-login{

}


#login{	
	
	margin-right:0;
	margin-bottom: 0px;
	margin-top:60px;
	
}



#texto{
	text-align: center;
	
}

ul li{
	display: inline;
	list-style: none;
}
ul li a{
	
	text-decoration: none;

}


#area_usuario{
	position: relative;
	padding-right: 0px;
	display: inline-block;
	
}
ul{
	list-style: none;
}



.divNav{
	width: auto !important;
}

.areaUser{
	margin-left: auto;
	position: relative;
	
}